html {
    font-size: 62.5%;
}

body {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    color: white
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(85, 132, 225);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.coverbox {
    margin-top: 5rem;
}

#coverimage {
    width: 20rem;
}

.selectbox {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 3rem;
    color: white;
}

.selectbox option {
    height: 3rem;
    width: 20rem;
    text-align: center;
    font-size: 2.5rem;
}


.namebox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}


.userbox {
    text-align: center;
}

.userbox label {
    height: 3rem;
    width: 20rem;
    text-align: center;
    font-size: 2.5rem;
}

.userbox input { 
    height: 3rem;
    width: 15rem;
    border: none;
    text-align: center;
    color: rgb(85, 132, 225);
    font-size: 2.5rem;
}

.dicebox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.resultbox {
    text-align: center;
    font-size: 4rem;
}

.buttonbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 5rem;
}

.diceimage {
    margin: 0 5rem;
    text-align: center;
}

.button {
    border-radius: 50%;
    border: none;
    height: 100px;
    width: 100px;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    background-color: white;
    color: rgb(85, 132, 225)
}

.footer {
    align-items: flex-end;
    border-top: 2px solid;
    font-size: 1.5rem;
    padding: 0 10rem;
}